section {
  background-color: #F0F0F0;
  padding: 1.5em 0;
  margin-top: 2em;

  &>h2 {
    text-align: center;
    margin-top: 1em;

    font-family: "poppins-medium", sans-serif;
  }

  &>section {
    display: flex;
    justify-content: center;
    gap: 1em;

    &>article {
      background-color: $gray-1;
      color: $white;

      position: relative;
      padding: 1.5em;

      border-radius: 20px;

      min-height: 30em;
      flex-basis: 27em;

      &>h3 {
        text-align: center;
      }

      &>p {
        text-align: center;
        font-size: .9em;
        color: $gray-3;
        margin-bottom: .5em;

        border-bottom: 1px solid $gray-3;
        padding-bottom: 1em;
      }

      &>ul {
        list-style: "- ";
        margin-left: 1em;
        margin-top: 1em;
        margin-bottom: 1em;

        &>li {
          padding: .3em;
        }
      }

      &>footer {
        width: 90%;
        position: absolute;
        bottom: 1.5em;

        &>h5 {
          margin-bottom: 1em;
          text-align: center;
          &>a {
            color: $gray-3;
            text-transform: lowercase;
            text-decoration: underline;
          }
        }

        &>button.primary {
          width: 100%;

          /*&.icon::before {
            @include icon("arrow-right");
            top: 50%;
            right: 10px;
          }*/
        }
      }
    }
  }
}