$primary: #2857FF;
$primary-2: #3561FF;
$primary-3: #6E8EFF;
$primary-4: #A7BAFF;
$primary-5: #E0E7FF;

$secondary: #FFD335;
$secondary-2: #FFDF6E;
$secondary-3: #FFECA7;
$secondary-4: #FFF8E0;

$gray-1: #242137;
$gray-2: #6D6B7A;
$gray-3: #B6B5BC;
$gray-4: #F8F8F8;

$white: $gray-4;

$shadow-settings-1: 0px 2px 10px #78787811;